* {
    Margin:0;
    padding:0;
 }
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
/* Estilos body */
body {
    margin:1rem;
    padding: 1rem 2rem;
    line-height: 1.6;
    background: linear-gradient(rgba(42, 42, 43, 0.75),rgba(42, 42, 43, 0.75)), url(../img/rejas.png) no-repeat center fixed;
    background-size: cover;
}
h1{
    color:rgb(255, 255, 255);
    animation-name: entrada-izquierda;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    
}
h1:hover{
    color: rgb(196, 196, 196);
}
h2{
    animation-name: entrada-derecha;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    color:rgb(255, 255, 255);
}
h2:hover{
    color: rgb(196, 196, 196);
}
h3{
    color: rgb(255, 255, 255);
    
}
h4{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    animation-name: entrada-izquierda;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
h4:hover{
    color: rgb(196, 196, 196);
}
p{
    color: rgb(216, 216, 216);
}
/* Estilos contenedor-index */
.contenedor-index{
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main-index"
    "footer"
    ;
}
.contenedor-ustedes{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "header main-ustedes"
    "footer footer"
    ;
}
.contenedor-bonustrack{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "header main-bonustrack"
    "header main-bonustrack"
    "article article"
    "footer footer"
    ;
}
/* Estilos nav */
.nav{
    grid-area: nav;
    padding: 1rem 0;
    align-items: center;
}
.nav-logo {
    height: 240px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 8px;
    margin: 0 16px;
   
}
nav ul li h3 a{
    text-decoration: none;
}
.nav-item-left{
    animation-name: entrada-izquierda;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.nav-item-right{
    animation-name: entrada-derecha;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
/* Estilos header */
.header{
    grid-area: header;
    padding: 1rem 2rem;
}
/* Estilos header-ustedes */
.header-ustedes{
    margin: 0;
    padding: 8px;
    align-items: center;
    justify-content: center;
}
/* Estilos Main */
.main-index{
    margin:1rem 2rem ;

}
main p{
    padding-bottom: 1rem;
}
main div img:hover {
    transform: scale(1.1);
    transition-property: all; 
    transition-timing-function: ease-in-out;
}
#fotosdemarce{
    padding: 1.5rem 1.5rem;
    width: 350px;
    height: 350px;
    display: inline-block ;
}

/* Estilos main-noticias */
.main-noticias{
    margin:1rem 2rem ;
}
.novedades{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.agosto22{
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: 1.4rem;
}
#lagunas{
    width: 380px;
    height: 380px;
}
.shows-section{
    font-size: 1.4rem;
    padding: 1rem 0;
}
.shows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#showensantelmo{
    width: 280px;
    height: 280px;
    padding: 1rem 0;
    display: inline-block ;
}
#showenlaboca{
    width: 280px;
    height: 280px;
    padding: 1rem 1rem 1rem 0;
    display:inline-block; 
}
/* Estilos main-videos */
.main-videos{
    margin:1rem 2rem ;
    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

/* Estilos main-bonustrack */
.main-bonustrack{
    grid-area: main-bonustrack;
    margin:1rem 2rem ;
   
}
#influencias {
    width: 300px;
    height: 300px;
    padding: 1rem 1rem 1rem 0;
    display: inline-block ;
}
.img-bonustrack{
    grid-area: article;
    display: inline-block;
    padding-left: 2rem;
}
.recomendaciones{
    padding: 1rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}
/* Estilos main-ustedes */
.main-ustedes{
    margin:1rem 2rem ;
    grid-area: main-ustedes;
}
form {
    display: inline-block;
    
}
form div input{
    font-size: 16px;
}
/* Estilos footer */
footer{
    grid-area: footer;
}
footer hr{
    color: rgb(216, 216, 216);
   
}
footer div ul{
    padding: 0;
    text-align: center;
}
footer div ul li {
    list-style-type: none;
    display: inline-block;
    
}
#copyright{
    font-size: 0.8em;
    text-align: center;
}
div ul li a i:hover{
    transform: scale(1.5);
    transition-property: all; 
    transition-timing-function: ease-in-out;
}

/* Estilos links */
link {
    display: none;
}
a:link  {
    color:rgb(233, 239, 245);
}
a:visited  {
    color:rgb(233, 239, 245);
}
a:hover {
    color: red;  
}
a:active  {
    color: rgb(28, 0, 128);
}

/* Animaciones */

@keyframes entrada-izquierda{
    0%{
        transform: translatex(-500px);
    }
    100%{
        transform:translatex(0);
    }
}
@keyframes entrada-derecha{
    0%{
        transform: translatex(1200px);
    }
    100%{
        transform:translatex(0);
    }
}

